:root {
	--page-bg: hsl(0, 0%, 8%);
	--layer-bg-medium: hsl(0, 0%, 17%);
	--text-light: hsl(0, 0%, 84%);
	--text-medium: hsl(0, 0%, 59%);
	--error: hsl(0, 74%, 42%); /* red-700 */
	--button-bg: hsl(101, 58%, 25%);
	--button-bg-hover: hsl(102, 63%, 32%);
}

body {
	color: var(--text-medium);
	background-color: var(--page-bg);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100dvh;
}

button,
label,
input,
select,
textarea,
summary {
	/* https://dbushell.com/2024/03/10/css-button-styles-you-might-not-know/#touch-actions */
	touch-action: manipulation;
}

/* https://frontendmasters.com/blog/you-want-border-color-transparent-not-border-none/ */
@media (forced-colors: active) {
	button,
	input,
	textarea {
		border: 1px solid transparent;
	}
}

::backdrop {
	background-color: hsla(0, 0%, 0%, 0.7);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
}

button {
	transition-property: background-color, scale;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

:where(button):active {
	scale: 0.97;
}

:where(button)[aria-disabled='true'] {
	cursor: not-allowed;
}

:any-link {
	text-decoration-line: underline;
	text-underline-offset: 0.09375em;
	text-decoration-thickness: 0.075em;
}

:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

:where(:any-link):focus-visible {
	@apply rounded-sm;
}

:where([tabindex='-1']):focus {
	outline: none;
}

:where(input, button[type='submit']):focus-visible {
	outline-color: var(--button-bg-hover);
}

input:user-invalid {
	outline: 2px solid var(--error);
	outline-offset: 2px;
}

:is(.main, .form, .footer, .dialog) {
	@apply px-4 py-5;
}

.main {
	@apply mx-auto max-w-xl;
	flex: 1 1 auto;
}

.logo {
	@apply max-w-200px mx-auto mb-6;
}

.headline {
	@apply mb-7 text-balance text-center text-4xl/tight uppercase tracking-wide md:text-5xl/tight;
	font-family: 'Fjalla One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: hsl(0, 0%, 100%);
}

.copy {
	@apply mb-12 text-balance text-center;
}

.form {
	@apply relative mb-7 md:px-8 md:py-10;
	accent-color: var(--button-bg);
	background-color: hsl(0, 0%, 13%);
}

.form::before {
	content: '';
	position: absolute;
	top: -1.25rem;
	left: 0;
	right: 0;
	height: 2.25rem;
	background: url('/paper.png');
	background-size: cover;
}

.text-label {
	@apply mb-1 inline-block;
}

.checkbox-label {
	@apply mb-1 inline-flex items-start;
}

input:where([type='text'], [type='email']) {
	@apply h-10 w-full max-w-xs rounded-sm bg-[--page-bg] px-2;
}

input:where([type='checkbox']) {
	@apply mr-2 mt-1 size-4 shrink-0;
}

.submit-button {
	@apply h-10 rounded-sm bg-[--button-bg] px-7 font-semibold tracking-wider;
	color: hsl(0, 0%, 100%);
}

.submit-button:is(:hover, :focus-visible) {
	@apply bg-[--button-bg-hover];
}

.footer {
	@apply text-sm;
	background-color: hsl(40, 37%, 97%);
	color: hsl(0, 0%, 44%);
}

.dialog {
	@apply max-w-xl;
	background-color: hsl(0, 0%, 100%);
	color: hsl(28, 26%, 11%);
}

.dialog-close-button {
	position: absolute;
	right: 0.5rem;
	top: 0.625rem;
	height: 2rem;
	width: 2rem;
	border-radius: 100%;
	background-color: hsl(0, 0%, 100%);
}

.dialog-close-button::before,
.dialog-close-button::after {
	content: '';
	background-color: hsl(0, 0%, 25%);
	position: absolute;
	left: 1rem;
	top: 0.5rem;
	height: 1rem;
	width: 0.125rem;
	rotate: var(--rotate, 45deg);
}

.dialog-close-button::after {
	--rotate: -45deg;
}

.dialog-content {
	@apply grid grid-flow-row gap-2;
}

.dialog-header {
	@apply mr-8 text-balance text-lg font-semibold uppercase tracking-wide;
	color: var(--color, currentColor);
}

.dialog-header.success {
	--color: var(--button-bg-hover);
}

.dialog-header.error {
	--color: var(--error);
}
