---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Yourbeef Gewinnspiel">
	<img class="logo" src="/yourbeef-logo.png" alt="" width="200" height="48" />
	<h1 class="headline">Wie viel wiegt das ausgestellte Stück Fleisch?</h1>

	<div class="copy">
		Der Gewinner erhält ein <a
			href="https://yourbeef.de/premium-steak-paket.html"
			class="whitespace-nowrap font-semibold text-[--text-light]">Premium Steak Paket</a
		> im Wert von <strong class="whitespace-nowrap font-semibold text-[--text-light]">über €&nbsp;120,—</strong> mit den
		besten Steak Cuts von der Simmentaler Färse – frei Haus zum Wunschliefertermin.
	</div>

	<form class="form" id="js-form" aria-label="Gewinnspiel">
		<div class="mb-5">
			<label for="form-answer" class="text-label">Das ausgestellte Stück wiegt:</label>
			<div class="flex items-center">
				<input
					type="text"
					name="answer"
					id="form-answer"
					class="w-20 text-right"
					inputmode="decimal"
					autocomplete="off"
					maxlength="8"
					required
				/>
				<span class="ml-2">kg</span>
			</div>
		</div>

		<div class="mb-5">
			<label for="raffle" class="checkbox-label">
				<input type="checkbox" name="raffle" id="raffle" required aria-describedby="raffle-hint" />
				Ja, ich möchte am Gewinnspiel teilnehmen.
			</label>
			<p class="text-xs" id="raffle-hint">
				Bitte informiert mich über das Ergebnis des Gewinnspiels. Ich bin mit der elektronischen Speicherung und
				Verarbeitung durch yourbeef.de (Fleischwaren Harald Kiesinger e.K.) einverstanden. Meine Daten werden nicht an
				Dritte weitergegeben.
			</p>
		</div>

		<div class="mb-5">
			<label for="newsletter" class="checkbox-label">
				<input type="checkbox" name="newsletter" id="newsletter" aria-describedby="newsletter-hint" />
				<span>Ja, sendet mir bitte den Yourbeef E-Mail-Newsletter. <small class="text-xs">(optional)</small></span>
			</label>
			<p class="text-xs" id="newsletter-hint">
				Informationen über exklusive Angebote, die besten Grilltipps und Gratis-Rezepte.
			</p>
		</div>

		<div class="mb-5">
			<label for="form-email" class="text-label">E-Mail-Adresse:</label>
			<div>
				<input
					type="email"
					name="email"
					id="form-email"
					inputmode="email"
					autocomplete="email"
					maxlength="64"
					required
				/>
			</div>
		</div>

		<div class="mb-5">
			<label for="form-firstname" class="text-label">Vorname:</label>
			<div>
				<input type="text" name="first_name" id="form-firstname" autocomplete="given-name" maxlength="24" required />
			</div>
		</div>
		<div class="mb-8">
			<label for="form-lastname" class="text-label">Name:</label>
			<div>
				<input
					type="text"
					name="last_name"
					id="form-lastname"
					autocomplete="family-name"
					maxlength="32"
					required
					enterkeyhint="send"
				/>
			</div>
		</div>

		<div>
			<button type="submit" class="submit-button" id="js-submit-button">Absenden</button>
		</div>
	</form>

	<dialog class="dialog" id="js-dialog" role="alertdialog" aria-labelledby="aria-dialog-heading" tabindex="-1">
		<button type="button" id="js-close-button" class="dialog-close-button" aria-label="Dialog schließen"></button>
		<div class="dialog-content" id="js-dialog-content"></div>
	</dialog>
</Layout>

<script>
	const formEl = document.querySelector<HTMLFormElement>('#js-form')
	const submitButtonEl = document.querySelector<HTMLButtonElement>('#js-submit-button')
	const dialogEl = document.querySelector<HTMLDialogElement>('#js-dialog')
	const closeButtonEl = document.querySelector<HTMLButtonElement>('#js-close-button')
	const dialogContentEl = document.querySelector<HTMLDivElement>('#js-dialog-content')

	const handleSuccess = () => {
		dialogContentEl.innerHTML = `
			<div class="dialog-header success" id="aria-dialog-heading">Vielen Dank!</div>
			<div>Deine Antwort wurde erfolgreich übertragen.</div>
		`
	}
	const handleError = async (response: Response) => {
		const data = response.status !== 404 ? await response.json() : null
		const isValidationError = response.status === 422
		dialogContentEl.innerHTML = `
			<div class="dialog-header error" id="aria-dialog-heading">${
				isValidationError ? 'Bitte korrigiere deine Eingabe' : 'Ein Fehler ist aufgetreten'
			}</div>
			<div>${
				isValidationError && data?.errors?.email?._isUnique
					? 'Diese E-Mail-Adresse wurde bereits eingetragen'
					: (data?.message ?? response.statusText ?? '')
			}</div>
		`
		submitButtonEl.setAttribute('aria-disabled', 'false')
	}

	formEl.addEventListener('submit', async e => {
		e.preventDefault()
		if (submitButtonEl.getAttribute('aria-disabled') === 'true') return
		submitButtonEl.setAttribute('aria-disabled', 'true')

		try {
			const response = await fetch(`${import.meta.env.PUBLIC_POSTURL}/submits/`, {
				method: 'POST',
				cache: 'no-cache',
				body: new FormData(formEl),
				headers: {
					accept: 'application/json',
				},
			})

			response.ok ? handleSuccess() : handleError(response)
		} catch (err) {
			console.error(err)
			dialogContentEl.innerHTML = `<div class="dialog-header error" id="aria-dialog-heading">${
				err.message ?? 'Ein unbekannter Fehler ist aufgetreten'
			}</div>`
			submitButtonEl.setAttribute('aria-disabled', 'false')
		} finally {
			dialogEl.showModal()
			dialogEl.focus()
		}
	})

	closeButtonEl.addEventListener('click', () => {
		dialogEl.close()
	})
	dialogEl.addEventListener('close', () => {
		dialogContentEl.innerHTML = ''
	})
</script>
