---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Yourbeef Gewinnspiel">
	<main class="grid flex-auto justify-center px-4 py-5 text-center">
		<div class="max-w-xl">
			<img
				class="mb-6 mx-auto max-w-[200px]"
				src="/yourbeef-logo.png"
				alt="Yourbeef - der Fleischversand für Kenner"
				width="600"
				height="143"
			/>
			<h1 class="yb__fjalla mb-7 text-4xl uppercase !leading-tight tracking-wide text-white md:text-5xl">
				Wie viel wiegt das ausgestellte Stück Fleisch?
			</h1>

			<div class="mb-12">
				Der Gewinner erhält ein <a
					href="https://yourbeef.de/premium-steak-paket.html"
					class="whitespace-nowrap font-semibold text-[--text-light]">Premium Steak Paket</a
				> im Wert von <strong class="font-semibold text-[--text-light]">über €&nbsp;120,—</strong> mit den besten Steak Cuts
				von der Simmentaler Färse – frei Haus zum Wunschliefertermin.
			</div>

			<form
				class="relative mb-7 bg-[--layer-bg-dark] px-4 py-5 text-left accent-[--button-bg] before:absolute before:-top-5 before:left-0 before:right-0 before:h-9 before:bg-[url('/paper.png')] before:bg-cover md:px-8 md:py-10"
				id="js-form"
			>
				<div class="mb-5">
					<label for="form-answer" class="mb-1 inline-block after:content-[':']">Das ausgestellte Stück wiegt</label>
					<div class="flex items-center">
						<input
							type="text"
							name="answer"
							id="form-answer"
							class="h-10 w-20 rounded-sm bg-[--page-bg] px-2 text-right"
							inputmode="decimal"
							autocomplete="off"
							maxlength="8"
							required
						/>
						<span class="ml-2">kg</span>
					</div>
				</div>

				<div class="mb-5">
					<div class="mb-1 flex items-start">
						<input
							type="checkbox"
							name="raffle"
							id="form-raffle"
							class="mr-2 mt-1 aspect-square w-4 shrink-0"
							required
						/>
						<label for="form-raffle">Ja, ich möchte am Gewinnspiel teilnehmen.</label>
					</div>
					<p class="text-xs">
						Bitte kontaktiert mich im Falle eines Gewinns per E-Mail. Ich bin mit der elektronischen Speicherung und
						Verarbeitung durch yourbeef.de (Fleischwaren Harald Kiesinger e.K.) einverstanden. Meine Daten werden nicht
						an Dritte weitergegeben.
					</p>
				</div>

				<div class="mb-5">
					<div class="mb-1 flex items-start">
						<input
							type="checkbox"
							name="newsletter"
							id="form-newsletter"
							class="mr-2 mt-1 aspect-square w-4 shrink-0"
						/>
						<label for="form-newsletter"
							>Ja, sendet mir bitte den Yourbeef E-Mail-Newsletter. <small class="text-xs">(optional)</small></label
						>
					</div>
					<p class="text-xs">Exklusive Angebote, die besten Grilltipps und Gratis-Rezepte.</p>
				</div>

				<div class="mb-5">
					<label for="form-email" class="mb-1 inline-block after:content-[':']">E-Mail-Adresse</label>
					<div>
						<input
							type="email"
							name="email"
							id="form-email"
							class="h-10 w-full max-w-xs rounded-sm bg-[--page-bg] px-2"
							autocomplete="email"
							maxlength="64"
							required
						/>
					</div>
				</div>

				<div class="mb-5">
					<label for="form-firstname" class="mb-1 inline-block after:content-[':']">Vorname</label>
					<div>
						<input
							type="text"
							name="first_name"
							id="form-firstname"
							class="h-10 w-full max-w-xs rounded-sm bg-[--page-bg] px-2"
							autocomplete="given-name"
							maxlength="24"
							required
						/>
					</div>
				</div>
				<div class="mb-8">
					<label for="form-lastname" class="mb-1 inline-block after:content-[':']">Name</label>
					<div>
						<input
							type="text"
							name="last_name"
							id="form-lastname"
							class="h-10 w-full max-w-xs rounded-sm bg-[--page-bg] px-2"
							autocomplete="family-name"
							maxlength="32"
							required
						/>
					</div>
				</div>

				<div>
					<button
						type="submit"
						class="rounded-sm bg-[--button-bg] px-7 py-2 font-semibold text-white hover:bg-[--button-bg-hover] focus-visible:bg-[--button-bg-hover] disabled:cursor-not-allowed disabled:opacity-50 disabled:sepia"
						id="js-submit-button">Absenden</button
					>
				</div>
			</form>
		</div>
	</main>

	<footer class="grid place-content-center bg-[--footer-bg] px-4 py-5 text-sm text-[--footer-text]">
		<div>
			<a href="https://yourbeef.de/">Yourbeef.de</a> • <a href="https://yourbeef.de/impressum">impressum</a> • <a
				href="https://yourbeef.de/datenschutz">Datenschutz</a
			>
		</div>
	</footer>

	<div
		class="invisible fixed inset-0 grid place-content-center bg-black bg-opacity-70 backdrop-blur-[3px]"
		id="js-dialog"
	>
		<div class="relative max-w-xl bg-white px-4 py-5 text-[--text-dark]">
			<button
				type="button"
				class="absolute right-2 top-2.5 h-8 w-8 rounded-full bg-white before:absolute before:left-4 before:top-2 before:h-4 before:w-0.5 before:rotate-45 before:bg-[#414141] after:absolute after:left-4 after:top-2 after:h-4 after:w-0.5 after:-rotate-45 after:bg-[#414141]"
				id="js-close-button"><span class="sr-only">schließen</span></button
			>
			<div class="grid grid-flow-row gap-2" id="js-dialog-content"></div>
		</div>
	</div>
</Layout>

<script>
	const formEl = document.querySelector('#js-form') as HTMLFormElement
	const submitButtonEl = document.querySelector('#js-submit-button') as HTMLButtonElement
	const dialogEl = document.querySelector('#js-dialog') as HTMLDivElement
	const closeButtonEl = document.querySelector('#js-close-button') as HTMLButtonElement
	const dialogContentEl = document.querySelector('#js-dialog-content') as HTMLDivElement

	const handleSuccess = () => {
		dialogContentEl.innerHTML = `
			<div class="yb__dialog-header success">Vielen Dank!</div>
			<div>Deine Antwort wurde erfolgreich übertragen.</div>
		`
	}
	const handleError = async response => {
		const isValidationError = response.status === 422
		const data = await response.json()
		dialogContentEl.innerHTML = `
			<div class="yb__dialog-header error">${
				isValidationError ? 'Bitte korrigiere deine Eingabe' : 'Ein Fehler ist aufgetreten'
			}</div>
			<div>${
				isValidationError && data?.data?.errors?.email?._isUnique
					? 'Diese E-Mail-Adresse wurde bereits eingetragen'
					: data?.data?.message ?? response.statusText ?? ''
			}</div>
		`
		submitButtonEl.disabled = false
	}

	formEl.addEventListener('submit', async e => {
		e.preventDefault()
		submitButtonEl.disabled = true

		try {
			const response = await fetch(`${import.meta.env.PUBLIC_POSTURL}/gravel/submits/`, {
				method: 'POST',
				cache: 'no-cache',
				body: new FormData(formEl),
				headers: {
					accept: 'application/json',
				},
			})

			response.ok ? handleSuccess() : handleError(response)
		} catch (err) {
			console.error(err)
			dialogContentEl.innerHTML = `<div class="yb__dialog-header error">${
				err.message ?? 'Ein unbekannter Fehler ist aufgetreten'
			}</div>`
			submitButtonEl.disabled = false
		} finally {
			dialogEl.classList.remove('invisible')
		}
	})

	closeButtonEl.addEventListener('click', () => {
		dialogEl.classList.add('invisible')
		dialogContentEl.innerHTML = null
	})
</script>
