---
import '../styles/main.css'

export interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="de">
	<!-- prettier-ignore -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>

		<style is:inline>@font-face{font-display:swap;font-family:Montserrat;font-style:normal;font-weight:400;src:url('/fonts/montserrat-v25-latin-regular.woff2') format('woff2')}@font-face{font-display:swap;font-family:Montserrat;font-style:normal;font-weight:600;src:url('/fonts/montserrat-v25-latin-600-subset.woff2') format('woff2')}@font-face{font-display:swap;font-family:'Fjalla One';font-style:normal;font-weight:400;src:url('../fonts/fjalla-one-v15-latin-regular-subset.woff2') format('woff2')}body{font-family:Montserrat,system-ui,sans-serif}</style>
		<link rel="preload" as="font" type="font/woff2" href="/fonts/montserrat-v25-latin-regular.woff2" crossorigin>
		<link rel="preload" as="font" type="font/woff2" href="/fonts/montserrat-v25-latin-600-subset.woff2" crossorigin>
		<link rel="preload" as="font" type="font/woff2" href="/fonts/fjalla-one-v15-latin-regular-subset.woff2" crossorigin>

		<link rel="icon" type="image/x-icon" href="favicon.png">

		<meta name="description" content="Yourbeef Gewinnspiel">
		<meta name="robots" content="noindex,follow">
	</head>

	<body class="flex flex-col">
		<main class="grid flex-auto justify-center px-4 py-5 text-center">
			<slot />
		</main>

		<footer class="grid place-content-center bg-[--footer-bg] px-4 py-5 text-sm text-[--footer-text]">
			<div>
				<a href="https://yourbeef.de/">Yourbeef.de</a> •
				<a href="https://yourbeef.de/impressum">Impressum</a> •
				<a href="https://yourbeef.de/datenschutz">Datenschutz</a>
			</div>
		</footer>
	</body>
</html>
