---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="de" class="bg-[--page-bg] text-[--text-medium]">
	<!-- prettier-ignore -->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">

		<style is:inline>@font-face{font-display:swap;font-family:Montserrat;font-style:normal;font-weight:400;src:url('/fonts/montserrat-v25-latin-regular.woff2') format('woff2')}@font-face{font-display:swap;font-family:Montserrat;font-style:normal;font-weight:600;src:url('/fonts/montserrat-v25-latin-600-subset.woff2') format('woff2')}@font-face{font-display:swap;font-family:'Fjalla One';font-style:normal;font-weight:400;src:url('../fonts/fjalla-one-v15-latin-regular-subset.woff2') format('woff2')}body{font-family:Montserrat,-apple-system,'Helvetica Neue',Arial,sans-serif}</style>
		<link rel="preload" as="font" type="font/woff2" href="/fonts/montserrat-v25-latin-regular.woff2" crossorigin>
		<link rel="preload" as="font" type="font/woff2" href="/fonts/montserrat-v25-latin-600-subset.woff2" crossorigin>
		<link rel="preload" as="font" type="font/woff2" href="/fonts/fjalla-one-v15-latin-regular-subset.woff2" crossorigin>

		<link rel="icon" type="image/x-icon" href="favicon.png">
		<title>{title}</title>

		<meta name="description" content="Yourbeef Gewinnspiel">
		<meta name="robots" content="noindex,follow">
	</head>
	<body class="flex flex-col">
		<main class="grid flex-auto justify-center px-4 py-5 text-center">
			<slot />
		</main>

		<footer class="grid place-content-center bg-[--footer-bg] px-4 py-5 text-sm text-[--footer-text]">
			<div>
				<a href="https://yourbeef.de/">Yourbeef.de</a> • <a href="https://yourbeef.de/impressum">impressum</a> • <a
					href="https://yourbeef.de/datenschutz">Datenschutz</a
				>
			</div>
		</footer>
	</body>
</html>

<style is:global>
	:root {
		--page-bg: #141414;
		--footer-bg: #faf8f4;
		--footer-text: #6f6f6f;
		--layer-bg-dark: #212121;
		--layer-bg-medium: #2b2b2b;
		--text-light: #d5d5d5;
		--text-medium: #969696;
		--text-dark: #241c15;
		--button-bg: #32651b;
		--button-bg-hover: #3e861e;
	}

	body {
		min-height: 100vh;
		min-height: 100dvh;
	}

	.yb__fjalla {
		font-family: 'Fjalla One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	:any-link {
		@apply underline;
	}

	:focus-visible,
	button:active {
		outline: 2px solid currentColor;
		outline-offset: 2px;
	}

	input:focus-visible,
	button[type='submit']:focus-visible,
	button[type='submit']:active {
		outline-color: var(--button-bg-hover);
	}

	.yb__dialog-header {
		@apply mr-6 text-lg font-semibold uppercase tracking-wide;
	}

	.yb__dialog-header.success {
		@apply text-[--button-bg-hover];
	}

	.yb__dialog-header.error {
		@apply text-red-700;
	}
</style>
